.userDetails {
    display: flex;
    align-items: center;
    gap: 10px;
}

.name {
    text-align: left;
    max-width: 100px;
}

.name.light {
    color: #282c34;
}

.name.night {
    color: white;
}

.photo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}