.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 100px;
}

.container.light {
    background: whitesmoke;
}

.container.night {
    background: #282c34;
}

.pagination {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prev, .next {
    width: 100px;
    height: 30px;
    border-radius: 12px;
    transition: 0.8s;

    font-size: 16px;
    letter-spacing: 1px;
}

.prev.light, .next.light {
    color: whitesmoke;
    background: #282c34;
}

.prev.night, .next.night {
    color: #282c34;
    background: whitesmoke;
}

.prev:hover, .next:hover {
    transform: scale(1.1);
    transition: 0.8s;
}

.prev.light:disabled, .next.light:disabled {
    background: rgba(40, 44, 52, 0.73);
    transform: scale(1);
}

.prev.night:disabled, .next.night:disabled {
    background: rgba(245, 245, 245, 0.5);
    transform: scale(1);
}